.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
