.wrap {
    background: blue url('~assets/images/1.jpg');
}
h1 {
    color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

::placeholder {
    color: gray;
}
